# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
.Rproj.user
.Rbuildignore
*.o
*.so
*.dll
*.Rproj
src/symbols.rds
inst/doc
vignettes/matchingR-performance_cache/
*.gcda
*.gcno