# .travis.yml
#
# See README.md for instructions, or for more configuration options,
# see the wiki:
#   https://github.com/craigcitro/r-travis/wiki

language: c
branches:
  only:
    - master
env:
  global:
  - secure: R5Ibbkb/PWqB5WVwld/4Upy1juOW3CzWv7RqO5bbshfLwDhfdKYm8SGf+J7Qd9JlYXgizQDPooR7Gk3eT/ls1q6Fxi4kboHSQbbt7jeicjrWMARB6SwcVca/UlHasAAyu6Te83jOin34pmG/as3HZoJnBUnjCMrB32cjb3sye8zK4bxBflRnlFMqvTrSNr7HOBRlpowhd6ZtiMP+/GPgjkj67dym9PrOH8pVPVyAJZsEdqFXBqvVTjTeoPOLDYC/laezsceSjaHERTOfGCwfqSG48WGpQEnj9Nmiy5QYQrMUjoJZBzWtRE8kakTh2JK3PF9SK3nT9EgZCR0F4l6eX8yHEytHXlJkxKFOtowZuCotVFhmT0ljUqflYAjsOz3+P0e5Jjk5N/o5mhOcCA7ulQVz/T8xPZZAqWvobQxGhpMMsySWEl++afuKHG/md8UzncUHKGiLO7Yz+zT7VK5FWINX57ElsxkZ0MhhjkBHXERnjhbchN3sLJVkGCPMRcDAkKac+/lKZCNrprpSE9MkshbV+OTYaIEqZjWrQEtOkNvBRDcNivWo5MlKMkNgwjITYPHo383k7CVoMZp9btm5IQEhXRKJZEUa7AJgv078pcyitvhNv0Xabsnop+eE5d+5IZAcBwHg/CyjqQy8ALei0WOfXVA3jdAadtxqU9U6cSk=
  - BOOTSTRAP_LATEX=1 BOOTSTRAP_PANDOC=1
sudo: required
before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap
install:
  - mkdir ~/.R
  - ./travis-tool.sh RInstall crayon
  - ./travis-tool.sh install_github jimhester/covr
  - ./travis-tool.sh install_deps
script: ./travis-tool.sh run_tests

after_failure:
  - ./travis-tool.sh dump_logs
  
after_success:
  - Rscript -e 'library(covr);coveralls()'
  - export REPO_NAME=${TRAVIS_REPO_SLUG#*/}
  - Rscript -e "install.packages('rmarkdown', repos='http://cran.rstudio.com')"
  - R CMD Rd2pdf ${TRAVIS_BUILD_DIR} -o ${TRAVIS_BUILD_DIR}/${REPO_NAME}.pdf
  - R CMD INSTALL ${TRAVIS_BUILD_DIR}
  - cd ${TRAVIS_BUILD_DIR}
  - Rscript -e "library('rmarkdown'); for(file.name in dir(path = 'vignettes/', pattern = '*.Rmd')) { render(paste('vignettes', file.name, sep='/'), output_file = gsub('Rmd', 'html', file.name), output_format = 'html_document') }"
  - cd ..
  - git clone https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages
  - cd gh-pages
  - git config user.name "Jan Tilly"
  - git config user.email "jantilly@gmail.com"
  - git checkout gh-pages
  - git pull origin gh-pages
  - mv ${TRAVIS_BUILD_DIR}/${REPO_NAME}.pdf .
  - mv ${TRAVIS_BUILD_DIR}/vignettes/*.html .
  - git add ${REPO_NAME}.pdf *.html
  - git commit -m "Automatic Travis update of PDF documentation and vignettes"
  - git push origin gh-pages

notifications:
  email:
    on_success: change
    on_failure: change

