# .travis.yml for matchingR using container-based infrastructure

# use c as catch-all language
language: c

# use containers
sudo: false

# only run for pushes to master branch
branches: 
  only: 
   - master

# install r-base-dev:
# use r-packages-precise (https://cran.r-project.org/bin/linux/ubuntu/precise/) as source
# which is white listed (https://github.com/travis-ci/apt-source-whitelist/) 
addons:
  apt:
    sources:
    - r-packages-precise
    packages:
    - r-base-dev

# cache local R libraries directory:
cache:
  directories: 
    - ~/Rlib

# install the package and dependencies:
# - create directory for R libraries (if not already exists)
# - create .Renviron with location of R libraries
# - install devtools if not already installed
# - install covr if not already installed
# - install matchingR with dependencies
install:
  - mkdir -p ~/Rlib 
  - echo 'R_LIBS=~/Rlib' > .Renviron
  - Rscript -e 'if(!"devtools" %in% rownames(installed.packages())) { install.packages("devtools", dependencies=TRUE, repos="http://cran.rstudio.com/") }'
  - Rscript -e 'if(!"covr" %in% rownames(installed.packages())) { install.packages("covr", dependencies=TRUE, repos="http://cran.rstudio.com/") }'
  - Rscript -e 'devtools::install(pkg = ".", dependencies = TRUE)'

# run devtools::test() and check if the package passes all the tests
# delete matchingR from ~/Rlib so that it won't be cached
script: 
  - Rscript -e 'devtools::test()'
  - rm -f -r ~/Rlib/matchingR

# report coverage rate to coveralls
after_success:
  - Rscript -e 'covr::coveralls(exclusions = "src/RcppExports.cpp")'

# send e-mails if stuff changes
notifications:
  email:
    on_success: change
    on_failure: change
